body {
  margin: 0;
}
header {
  text-align: center;
  margin-top: 2.5vh;
  font-size: 3vh;
  font-weight: bolder;
  font-family: sans-serif;
  color: grey;
}
textarea, input, button {
  box-shadow: 0 0 5px 0 grey;
  border: 0;
  font-size: 1.5vh;
  border-radius: 3px;
  transition-duration: 0.3s;
  padding: 10px;
}
textarea {
  width: calc(98vw - 20px);
  height: calc(39vh - 20px);
  margin: 2.3vh 1vw 2vh 1vw;
  box-shadow: 0 0 5px 0 grey;
}
textarea:focus, input:focus, button:focus {
  border: 0;
  box-shadow: 0 0 10px 0 grey;
  outline: none;
}
input {
  height: calc(4vh - 20px);
  margin: 0 0.5vw 0 1vw;
  width: calc(77vw - 41px);
}
button {
  height: 4vh;
  margin: 0 0.5vw 0 0;
  width: 10vw;
  color: white;
  font-weight: bolder;
}
button:first-of-type {
  background-color: #88f;
}
button:last-of-type {
  background-color: #f88 ;
}